# Python & Ambiente Virtual
.venv/
*.pyc
__pycache__/
db.sqlite3

# Certificados SSL/TLS locais e chaves privadas
*.pem
*.key
*.crt
*.csr

# Variáveis de ambiente
.env
.env.local

# Windows / WSL Metadata
*:Zone.Identifier
